body{
    width:100vw;
    height:100vh;
    background-image: url(gym.jpg);
    background-repeat:repeat-y;
    background-size: cover;
}

.main-nav-tab-icon{
    color:aliceblue;
    font-size: 30px;
    padding-left: 30px;
    padding-right: 30px;
}

.main-nav-tab{
    color:aliceblue;
    font-family: 'Rubik', sans-serif;
    font-size: 30px;
    font-weight: 100;
    padding-left: 15px;
    padding-right: 10px;
}

.main-nav-tab:hover{
    color:blueviolet;
}

.main-nav-tab-icon:hover{
    color:#9400FF;
}

.main-header-container{
    margin:0;
    padding-top: 200px;
    padding-bottom: 200px;
    text-align: center;
}

.main-header{
    color:aliceblue;
    font-family:'Rubik', sans-serif;
    font-size: 60px;
    padding-top:20px;
}

.main-header-under{
    color:aliceblue;
    font-family:'Rubik', sans-serif;
    font-size:25px;
    font-weight: 100;
    padding-bottom:50px;
}

.main-offer-button{
    width:350px;
    height: 70px;
    border-color:#9400FF;
    border-style:solid;
    border-radius:10px;
    background-color:#9400FF;
    color:aliceblue;
    font-size: 25px;
    font-family: 'Rubik', sans-serif;
    font-weight: 600;
    transition: 0.2s;
}

.main-offer-button:hover{
    background:none;
    color:#9400FF;
}

.info-container{
    background-color: aliceblue;
    width:100vw;
    height:fit-content;
}

.image-box{
    border-radius: 30px;
    box-shadow: -15px -15px #9400FF;
}

.about-me-image{
    border-radius:30px;
    object-fit: cover;
}

.about-me-header{
    font-family:'Rubik', sans-serif;
    font-size:40px;
}

.about-me-info{
    font-family: 'Rubik', sans-serif;
    font-weight: 100;
    font-size: 20px;
}

.info-icon{
    color: #9400FF;
    padding-bottom: 30px;
}

.info-column{
    width:432px;
    padding:10px;
}

.info-header{
    font-family:'Rubik', sans-serif;
    font-size:30px;
}

.additional-info{
    font-family: 'Rubik', sans-serif;
    font-weight: 100;
    font-size: 20px;
}

.offer-container{
    width: 100vw;
    height: 1000px;
    padding-top: 100px;
}

.offer-header{
    color: aliceblue;
    font-family:'Rubik', sans-serif;
    text-align: center;
    padding:20px;
}

.offer-reference-bar{
    margin:auto;
    width: 10%;
    height: 15px;
    background-color: #9400FF;
}

.offer-element{
    text-align:center;
    color: aliceblue;
    background-color:black;
    font-family:'Rubik', sans-serif;
    font-size: 40px;
    padding-top:30px;
    padding-bottom:30px;
    margin-bottom:0px;
    border-radius: 19px 19px 0px 0px;
}

.offer-column{
    width:500px;
    height: fit-content;
    background-color: aliceblue;
    padding:0px;
    border-radius:20px;
}

.offer-image{
    height: 350px;
    width: 500px;
    object-fit: cover;
}

.offer-description{
    font-family:'Rubik', sans-serif;
    font-size:22px;
    font-weight:100;
    padding:20px;
    height: 160px;
}

.offer-button{
    width:300px;
    height: 60px;
    border-color:#9400FF;
    border-style:solid;
    border-radius:10px;
    background-color:#9400FF;
    color:aliceblue;
    font-size: 20px;
    font-family: 'Rubik', sans-serif;
    font-weight: 600;
    transition: 0.2s;
}

.offer-button:hover{
    background: none;
    color: #9400FF;
}

.contact-container{
    background-color: aliceblue;
    margin-top:100px;
    padding-top:30px;
    padding-bottom:30px;
}

.contact-header{
    text-align: center;
    font-family: 'Rubik', sans-serif;
    font-size: 40px;
    padding:20px;
}

.contact-info{
    font-family:'Rubik', sans-serif;
    text-align:center;
    font-size: 30px;
    font-weight:100;
}

.contact-icon{
    color: black;
    font-size: 80px;
    transition: 0.2s;
    padding: 5px;
}

.contact-icon:hover{
    color:#9400FF;
}

